*{
    box-sizing: border-box;
}
body{
    /* width: 1200px; */
    /* height: 600px; */
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 85px;
    margin: 0px;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
}
header *{
    display: flex;
    justify-items: center;
    margin: 5px;
}
.nf-logo{
    width: 100px;
    height: 50px;
}

/* 로고 */
header>:nth-child(1){
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

/* 카테고리 메뉴바 */
header>:nth-child(2){
    flex-basis: 50%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

/* 공백 */
header>:nth-child(3){
    flex-basis: 10%;
}

/* 마이페이지 메뉴바 */
header>:nth-child(4){
    flex-basis: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* SERACH input창 */
#searchAll{
    margin-left: 0px;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 28px;
}

/* 검색 버튼 */
header>input[type=button]{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    margin-left: -5px;
    cursor: pointer;
}
